@{
    ViewBag.Title = "Gestão de Demandas";
}
<!--
<h2>Gestão de Demandas</h2>
-->
<h2>

</h2>
<p>Para visualizar e gerenciar demandas, navegue até a página de <a href="@Url.Action("Index", "WorkItems")">Lista de Atividades</a>.</p>
